In [1]:
import pandas as pd
# Read the dataset
df = pd.read_csv('https://github.com/patilankita79/ML_DataPreprocessing/raw/master/ML_DataPreprocessing/Data.csv')

In [2]:
# Print the first few rows of the dataframe
print(df.head())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
# Assuming 'Purchased' is the dependent variable
dependent_variable = df['Purchased']
independent_variables = df.drop('Purchased', axis=1)

In [4]:
# Display the shape of the variables
print("\nDependent variable shape:", dependent_variable.shape)
print(dependent_variable)
print('\n')
print("Independent variables shape:", independent_variables.shape)
print(independent_variables)

Dependent variable shape: (10,)
0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object


Independent variables shape: (10, 3)
   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [5]:
# Handle missing values
data_set = df

In [6]:
data_set.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [7]:
# Fill missing values with the mean
data_set['Age'].fillna(value=data_set['Age'].mean(), inplace=True)
data_set['Salary'].fillna(value=data_set['Salary'].mean(), inplace=True)
print("\nDataset after handling missing values:")
print(data_set)

Dataset after handling missing values:
   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes